:root {
    --hero-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #212121;
    --main-text-color: #757575;
    --second-btn-color: #F5F4FA;
    --header-text-color: #212121;
    --hover-color: #2196F3;
}
body {
    font-family:"Roboto", sans-serif;
    color: #E5E5E5;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*----------------HEADER-------------*/
.logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}
.logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color:var(--header-text-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

.mail,
.tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
    } 
/*----------------HERO-------------*/
.hero {
    background-color:#2F303A; ;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:var(--hero-title-color);
}
.hero-button {
    font-family: inherit;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:#FFFFFF;
}

.priorities-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}

.priorities-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-text-color)
}
/*-------------specification------------*/

.specification-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
/*-------------TEAM------------*/
 .team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
 }
 .team-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-title-color)
    }

.team-list-profession{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/*-------------footer------------*/

.section-footer {
    background-color: #2F303A;;
}

.logo-studio-footer{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #fff;
}
.footer-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
/*-------------PORTFOLIO PG------------*/

.pf-buttons {
    font-family: inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #212121;
}

.pf-buttons:hover {
    color:var(--hover-color)
}
.pf-buttons:focus {
    color: var(--hover-color);
}
.portfolio-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--third-title-color);
}
.portfolio-list-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}